{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Participant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cin</th>
                <th>NomPrenom</th>
                <th>Profession</th>
                <th>DispoGroupe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.cin }}</td>
                <td>{{ participant.nomPrenom }}</td>
                <td>{{ participant.profession }}</td>
                <td>{{ participant.dispoGroupe ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_participant_show', {'cin': participant.cin}) }}">show</a>
                    <a href="{{ path('app_participant_edit', {'cin': participant.cin}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participant_new') }}">Create new</a>
{% endblock %}
