{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>liste des Sessions</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomSession</th>
                <th>Jour</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>NbParticipant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.jour }}</td>
                <td>{{ session.heureDebut|date('H:i')}}</td>
                <td>{{ session.heureFin |date('H:i') }}</td>
                <td>{{ session.nbParticipant }}</td>
                <td>
                    <a href="{{ path('app_session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_new') }}">Create new</a>
{% endblock %}
